body {
    font-family: Arial, sans-serif;
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: gold;
    text-align: center;
    padding: 20px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
}

h1 {
    margin: 0;
}

footer {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

main {
    padding: 20px;
}

.bus {
    background-color: yellow;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #f57c00;
}

.bus-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.bus-info button {
    margin-top: 10px;
}

/* Add styles for the welcome message and photo */
#welcomeMessage {
    text-align: center;
    margin-top: 20px;
}

#welcomeMessage img {
    display: block;
    margin: 0 auto;
}
#welcomeMessage p {
    font-size: 24px; 
}
